# Ref: https://xrootd-howto.readthedocs.io/en/latest/tpc/, https://xrootd.web.cern.ch/doc/dev6/xrd_config.html
all.role server
all.export /rucio

xrd.tls /etc/grid-security/xrd/xrdcert.pem /etc/grid-security/xrd/xrdkey.pem
xrd.tlsca certdir /etc/grid-security/certificates
xrootd.tls capable all -data

xrootd.seclib libXrdSec.so

# GSI with VOMS extraction
sec.protparm gsi -vomsfun:libXrdVoms.so -vomsfunparms:dbg

# CRITICAL: -dlgpxy:1 enables proxy delegation acceptance
# CRITICAL: -exppxy:=creds exports delegated proxy to disk
sec.protocol /usr/lib64 gsi -dlgpxy:1 -exppxy:=creds -ca:1 -crl:0 -gridmap:/etc/grid-security/grid-mapfile

xrootd.chksum adler32 /usr/local/bin/xrdadler32.sh

# TPC with X509 proxy delegation
ofs.tpc fcreds gsi =X509_USER_PROXY ttl 60 70 xfr 100 autorm pgm /usr/bin/xrdcp --server

ofs.trace tpc all
